<% include partials/header %>

<div class ="ui container">
    <header class="">
        <h1>Каталог товаров</h1>
        <p>
            <a class="ui basic blue button" href="/catalog/new">Новый товар</a>
        </p>
    </header>

    <div class="ui items segments">
        <% catalog.forEach((item) => { %>
        <div class="ui item blue segment">
            <div class="segment ui small image thumbnail" style="background-image:url(<%=item.image%>);"></div>
            <div class="ui segment content">
                <a class="header" href="/catalog/<%= item._id %>"><%=item.name %></a>
                <div class="description">
                    <%=item.description%>
                </div>
            </div>
                <div class="ui segment divided list">
                    <a class="item" href="/catalog/<%= item._id %>">
                        Подробнее
                    </a>
                    <a class="item" href="" >
                        <i class="add icon"></i>
                        Добавить в корзину
                    </a>
                </div>
        </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>