<% include partials/header %>

<div class="ui container segments">
    <img class="ui centered large image" src="<%=item.image %>">
    <div class="ui blue segment">
        <div class="ui header">
            <%=item.name %>
        </div>
    </div>
    <div class="ui content">
        <div class="ui header small">Описание:</div>
        <div class="description"><%=item.description %></div>
    </div>

    <% item.reviews.forEach((review) => { %>
    <p class="ui blue segment content-extra">
        <strong><%=review.author %></strong> - <%=review.text %>
    </p>
    <% }) %>

    <a class="ui basic blue button" href="/catalog">Назад</a>
</div>
<% include partials/footer %>